---
layout: default
active: people
---

<body class="has-anchors">

  {% include navbar.html %}

  <div class="container-fluid">
    <section class="container-fluid">
      <h1>People</h1>
      <nav>
        <ul class="nav nav-pills">

          {% include dropdown-name.html %}
          {% include dropdown-lab.html %}

        </ul>
      </nav>
      <hr>

      {% include pi-loop.html %}
      {% include copi-loop.html %}
      {% include people-loop.html %}

    </section>
  </div>
</body>
