---
layout: default
---

<body class="has-anchors">

  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a href="index.html" class="brand">Integrative Plasticity</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><a href="index.html">About</a></li>
            <li><a href="aims.html">Aims</a></li>
            <li><a href="outreach.html">Outreach</a></li>
            <li><a href="software.html">Software</a></li>
            <li><a href="protocols.html">Protocols</a></li>
            <li class="active"><a href="people.html">People</a></li>
            <li><a href="publications.html">Publications</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <section class="container-fluid">
      <h1>People</h1>
      <nav>
        <ul class="nav nav-pills">
          <li class="dropdown">
            <a class="dropdown-toggle"
               data-toggle="dropdown"
               href="#">
                Find by Name
                <b class="caret"></b>
              </a>
            <ul class="dropdown-menu">
              {% for post in site.categories.people %}
                {% for person in post.people %}
                  <li><a tabindex="-1" href="#{{ person.shortname }}">{{ person.fullname }}</a></li>
                {% endfor %}
              {% endfor %}
            </ul>
          </li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Find by Lab
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              {% for post in site.categories.people %}
                {% for university in post.universities %}
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">{{ university.name }}</a>
                    <ul class="dropdown-menu">
                      {% for lab in university.labs %}
                        <li class="nav-header">{{ lab }}</li>
                        {% for post in site.categories.people %}
                          {% for person in post.people %}
                            {% if person.lab == lab %}
                              <li>
                                <a tabindex="-1" href="#{{ person.shortname }}">
                                  {{ person.fullname }}
                                </a>
                              </li>
                            {% endif %}
                          {% endfor %}
                        {% endfor %}
                      {% endfor %}
                    </ul>
                  </li>
                {% endfor %}
              {% endfor %}
            </ul>
          </li>
        </ul>
      </nav>
      <hr>

      {% for post in site.categories.people %}
        {% for person in post.people %}
            <article class="people">
              <a name="{{ person.shortname }}"></a>
              <section class="people-main">
                <section class="row-fluid">
                  <section class="span4">
                    <img class="img-rounded" src="{{ site.imagesurl }}{{ person.photo }}" alt="{{ person.fullname }}">
                  </section>
                  <section class="span8">
                    <header>
                      <h1 class="person-left">
                        <a href="mailto:{{ person.email }}">{{ person.fullname }}</a>
                        {% unless person.pi == null %}
                          <small>({{ person.pi }})</small>
                        {% endunless %}
                      </h1>
                      {% for position in person.positions %}
                        <h2 class="person-left">{{ position }}</h2>
                      {% endfor %}
                      <h2 class="person-left">{{ person.lab }}</h2>
                      <h2 class="person-left">{{ person.department }}, {{ person.university }}</h2>
                    </header>
                    {{ person.blurb | markdownify }}
                  </section>
                </section>
              </section>
            </article>
        {% endfor %}
      {% endfor %}

    </section>
  </div>
</body>
