
/*  Navbar Adjustments
============================================= */

/* Top Padding for responsive navbar-top-fixed */

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

@media(max-width:979px) {
    body {
        padding-top: 0;
    }
}

/* For static full-width navbar
(If needed) */

/*
.navbar-inner {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}
*/

/* padding for in-page bookmarks and fixed navbar */

section {
    padding-top: 30px;
}

article.aim section.aim-main h2 {
    font-size: 125%;
    line-height: 1.2;
}

article.aim section.aim-main {
    padding: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #eeeeee;
}

img {
    margin: 5px 0 5px 10px;
}

/*.hero-unit > img { max-width: 40%;}*/
/*section.aim-main > img { max-width: 25%;}*/


hr {
    border: 0;
    border-top: 1px solid gray;
}

.navbar-inverse .nav-collapse .nav > li.active > a,
.navbar-inverse .nav-collapse .nav > li.active > a:hover,
.navbar-inverse .nav-collapse .dropdown-menu .active a,
.navbar-inverse .nav-collapse .dropdown-menu .active a:hover {
    background-color: #111111;
    color: white;
}

.navbar-inverse .nav-collapse .nav > li > a:hover,
.navbar-inverse .nav-collapse .dropdown-menu a:hover {
    background-color: #999999;
    color: white;
}

