<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      
      <a href="{{ http://plant-plasticity.github.io }}">
        Integrative Plasticity
      </a>
      
      <div class="nav-collapse">
        <ul class="nav">
          <li{% if page.active == 'aims' %} class="active"{% endif %}>
            <a href="http://plant-plasticity.github.io/aims">
              Aims
            </a>
          </li>
          <li{% if page.active == 'outreach' %} class="active"{% endif %}>
            <a href="http://plant-plasticity.github.io/outreach">
              Outreach
            </a>
          </li>
          <li{% if page.active == 'software' %} class="active"{% endif %}>
            <a href="http://plant-plasticity.github.io/software">
              Software
            </a>
          </li>
          <li{% if page.active == 'protocols' %} class="active"{% endif %}>
            <a href="http://plant-plasticity.github.io/protocols">
              Protocols
            </a>
          </li>
          <li{% if page.active == 'people' %} class="active"{% endif %}>
            <a href="http://plant-plasticity.github.io/people">
              People
            </a>
          </li>
          <li{% if page.active == 'publications' %} class="active"{% endif %}>
            <a href="http://plant-plasticity.github.io/publications">
              Publications
            </a>
          </li>
          <li{% if page.active == 'posters' %} class="active"{% endif %}>
            <a href="http://plant-plasticity.github.io/posters">
              Posters
            </a>
          </li>
        </ul>
        <p class="pull-right">
          v{{ site.version }}
        </p>
      </div>
    </div>
  </div>
</nav>
